.side-bar
  .user-name
    .top-items
      .top-items__name
        masa
      .top-items__icons
        = link_to "#", class: "top-items__icons__edit" do
          %i.fa.fa-edit
        = link_to "#", class: "top-items__icons__setting" do
          %i.fa.fa-cog
  .group-list
    .groupBox
      .groupBox__groupName
        techcamp
      .groupBox__newMessage
        まだメッセージはありません